.main-image {
    width: 500px;
    height: 600px;
}
.main-button {
    font-weight: 500;
    font-size: 18px;
    background: white;
    border-radius: 7px ;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-para {
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    /* text-indent: 0%;*/
    white-space: pre-wrap;  
}